* {
    margin: 0;
    padding: 0;
}
.em {
    background-color: #333335;
    z-index: 10;
    width: 450px;
    height: 50px;
    position: absolute;
    border: none;
    transform: translate(0, -55px);
    font-size: 11.5pt;
    color: White;
}
    input::-webkit-input-placeholder {
    color: white;
    }
    input:-moz-placeholder {
    color: white;
    }
    input::-moz-placeholder {
    color: white;
    }
    input:-ms-input-placeholder {
    color: white;
    }
.body {
    width: 100vw;
    height: 150vh;
    position: absolute;
    background-image: url("images/abcbackground.png");
    background-attachment: fixed;
    background-size: 100%;
    z-index: -10;
}

.pics {
    display: grid;
    place-items: center;
}
.logo img{
    width: 83px;
    height: 83px;
    margin: 20px;
    transform: translate(0, -10px);
}
.login img{
    width: 600px;
    transform: translate(0, -10px);
}
.x img{
    width: 35px;
}
.x {
    place-self: end;
    transform: translate(-20px, 20px);
}